/**************************************************************************

 Default CSS
---------------------------------------------------------------

 ZUKD
 Zepter und Krone GmbH
 Digital Unit

 V/2012

***************************************************************************/
/*

webfonts:

font-family:'Felbridge W01 Bold';
font-family:'Felbridge W01 Light';
font-family:'Avenir LT W02 35 Light';
font-family:'Avenir LT W02 95 Black';

*/
/* basics */

body {
  -webkit-text-size-adjust: 100%;
  background: #000 url("../images/pattern_02.png") repeat fixed 0 0;
  color: #5d5b58;
  line-height: 24px;
  font-family: 'Avenir LT W02 35 Light', sans-serif;
  font-weight: normal;
  font-size: 13px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a:focus,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #333;
}

acronym,
abbr {
  border-bottom: 0;
  cursor: help;
}

address {
  display: inline;
}

acronym,
abbr {
  border-bottom: 0;
  cursor: help;
}

address {
  display: inline;
}
/* quotes */

blockquote p {
  margin: 0 0 24px;
}

blockquote p:before {
  content: "\00BB";
}

blockquote p:after {
  content: "\00AB";
}

q {
  quotes: "\00BB" "\00AB";
}

blockquote q,
q q {
  quotes: "\203A" "\2039";
}

hr,
img.lazy {
  display: none;
}

.clickable {
  cursor: pointer !important;
}
/* setting this to 'display:none' could hide it from screenreaders, too, which is not intended */

.accessible {
  display: block !important;
  left: -999em !important;
  position: absolute !important;
}

.majuscules {
  font-size: 97%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

._margin-bottom {
  margin-bottom: 2em !important;
}

._margin-bottom-2x {
  margin-bottom: 4em !important;
}


/*
 * alerts
 *
 */

.alert-success {
  color: #1a0;
}

.alert-error {
  color: #b21;
}
/*
 * a.more
 *
 */

a.more {
  color: #818182;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: inherit;
  text-transform: uppercase;
}
/*
 * .btn
 *
 */

.btn {
  background-color: #397ad8;
  border: 0 solid #397ad8;
  border-radius: 4px;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Avenir LT W02 35 Light', sans-serif;
  font-size: 13px;
  font-weight: 300;
  height: 24px;
  line-height: 24px;
  min-width: 110px;
  padding: 0 5px 0 5px;
  text-align: left;
}

.btn:hover {
  background-color: #124896 !important;
}

.btn.next:before {
  content: "→";
  float: right;
}

.btn.back {
  text-align: right;
}

.btn.back:before {
  content: "←";
  float: left;
}

.btn.secondary {
  background: transparent;
  border: 1px solid #818182;
  color: #818182 !important;
  height: 22px;
  line-height: 22px;
  padding: 0 4px;
}


  /*
 * #main .vcard
 *
 */
  #main .vcard {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 1em;
  }
  #main .vcard a {
    text-decoration: none;
  }
  #main .vcard .fn {
    color: #666;
  }
  #main .vcard .adr .street-address {
    display: block !important;
  }
  #main .vcard .tel {
    display: block !important;
  }
  #main .vcard .tel .type {
    display: none;
  }
/*
 * form.default
 *
 */

form.default {}

form.default .h {
  overflow: hidden;
  position: absolute;
  left: -999em;
}

form.default fieldset {
  margin-bottom: 24px;
  padding-bottom: 24px;
}

form.default label {
  display: block;
  font-size: 12px;
  line-height: 24px;
}

form.default input.txt,
form.default textarea {
  background-color: #fff;
  border: 0;
  color: #818182;
  font-family: 'Avenir LT W02 35 Light', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 6px;
  padding: 0 4px;
}

form.default input.txt {
  height: 24px;
}


@media only screen and (max-width: 670px) {
  /**Kontakt Form**/

  form.default input.txt,
  form.default textarea,
  form.default input.txt,
  form.default textarea {
    padding: 0 3%;
    width: 94%;
  }
}

/* ul.default */

ul.default {
  border-top: 1px solid #818182;
  font-size: 12px;
  line-height: 16px;
}

ul.default li {
  border-bottom: 1px solid #818182;
  padding: 6px 0;
  width: 100%;
}
/* table.default */

table.default {
  border-top: 1px solid #818182;
  width: 100%;
}


table.default a {
  text-decoration: none;
}

table.default tr {
  border-bottom: 1px solid #818182;
  font-size: 12px;
  line-height: 16px;
}

table.default th,
table.default td {
  vertical-align: top;
  padding: 6px 0;
}

table.default th {
  font-family: 'Avenir LT W02 95 Black', sans-serif;
}

table.default tr.clickable:hover {
  background-color: #818182;
  color: #fff !important;
}

table.default tr.clickable:hover a {
  color: #fff !important;
}

/*
 * #main .view-options
 *
 */

  #main .view-options {
    display: block;
    margin: 20px 0 20px;
  }
  #main .view-options .list-view,
  #main .view-options .photo-view,
  #main .view-options .map-view {
    background: url('../images/view_types.png') no-repeat 0 0;
    display: block;
    float: right;
    height: 16px;
    overflow: hidden;
    text-indent: -999em;
    width: 16px;
  }
  #main .view-options .photo-view {
    background-position: -40px 0;
  }
  #main .view-options .list-view {
    background-position: 0px 0;
    border-left: 1px dotted #818182;
    margin: 0 0 0 8px;
    padding: 0 0 0 8px;
  }
  #main .view-options .map-view {
    background-position: -64px 0;
    border-left: 1px dotted #818182;
    margin: 0 0 0 8px;
    padding: 0 0 0 8px;
  }
  #main .view-options .photo-view.selected {
    background-position: -40px -16px;
  }
  #main .view-options .list-view.selected {
    background-position: 0px -16px;
  }
  #main .view-options .map-view.selected {
    background-position: -64px -16px;
  }


/* #properties */
/* properties: photo-view */
/* REFACTOR ME */
.default-layout ul.properties {
  display: block;
  margin-left: -5px;
  margin-right: -5px;
  padding: 0 3%;
  text-align: left;
}

.default-layout ul.properties li {
  display: inline-block;
  text-align: left;
}

.default-layout ul.properties li a {
  color: #818182;
  display: block;
  height: 219px;
  overflow: hidden;
  padding: 5px 5px 0;
  text-decoration: none;
  width: 190px;
}

.default-layout ul.properties li a:hover {
  background-color: #222;
  color: #eee;
}

.default-layout ul.properties img,
.default-layout ul.properties .missing-image {
  display: block;
  height: 160px;
  margin: 0 0 12px;
  width: 190px;
}

.default-layout ul.properties img.lazy {
  background-color: #bbb;
}

.default-layout ul.properties .missing-image {
  background-color: #818182;
}

.default-layout ul.properties li .caption {
  display: block;
  font-size: 10px;
  line-height: 12px;
}

.default-layout ul.properties li strong.caption {
  color: #666;
  font-weight: 700;
}

.default-layout ul.properties li a:hover strong.caption {
  color: inherit;
}

/* properties: table view */

.default-layout table.properties {
  min-width: 100%;
}

.default-layout table.properties th {
  font-family: 'Avenir LT W02 35 Light', sans-serif;
  padding-left: 32px;
  padding-right: 15px;
}

.default-layout table.properties td.zip {
  text-align: right;
}

.default-layout table.properties td.city {
  text-align: right;
  padding-left: 5px;
}

.default-layout table.properties td.flag abbr {
  color: #b2b2b2;
  display: block;
  font-family: 'Avenir LT W02 35 Light', sans-serif;
  text-align: center;
}

  @media only screen and (max-width: 670px) {
    .default-layout ul.properties li a {
      height: 230px;
    }
    .default-layout ul.properties li .caption {
      font-size: 12px;
      line-height: 1.3;
    }
  }
  @media only screen and (max-width: 449px) {
    .default-layout ul.properties li {
      width: 100%;
    }
    .default-layout ul.properties li a {
      height: auto;
      margin-bottom: 2em;
      padding-bottom: 1em;
      width: 97%;
    }
    .default-layout ul.properties img,
    .default-layout ul.properties .missing-image {
      height: auto;
      width: 100%;
    }
    .default-layout ul.properties li .caption {
      font-size: 14px;
    }
  }
@media only screen and (min-width: 671px) {
    .default-layout ul.properties {
      padding: 0;
    }
    .default-layout ul.properties li {
      float: left;
    }
}

  @media only screen and (max-width: 670px) {
    .default-layout table.properties td.city {
      padding-right: 1em;
    }
    .default-layout table.properties td.flag abbr {
      padding-left: 1em;
    }
  }

/*
 * status code
 *
 */

.status-code {
  color: #666;
  font-size: 13px;
  font-family: 'Avenir LT W02 95 Black', sans-serif;
  line-height: 24px;
}

/*
 * #main #map_canvas
 *
 */

#main #map_canvas {
  border: 8px solid #fff;
  margin: 0 0 24px;
  overflow: hidden;
}

#main #map_credits {
  color: #444;
  font-size: 10px;
  line-height: 14px;
  margin: -14px 0 0;
}

/*
#main #properties
*/

  #main #properties {
    background-color: #f8f8f8;
    float: left;
    margin-top: -40px;
    min-width: 100%;
  }

@media only screen and (min-width: 671px) {
  #main #properties {
    min-width: 0;
    padding: 0 40px 2em;
    width: 590px;
  }
}
